<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
    <%for (let i of chat){%>
        <div class="chats">
            <p>form: <%=i.from%></p>
            <p>to: <%=i.to%></p>
            <p>message: <%=i.message%></p>
            <div>
                <form action="/chats/<%=i._id%>/edit" method="get">
                    <button>edit</button>
                </form>
                <br>
                <form action="/chats/<%=i._id%>/rem?_method=DELETE" method="post">
                    <button>Delete</button>
                </form>
            </div>
            
        </div>
        <p>Send at: <%=i.at.toString().split(" ")[4]%></p>
        <p><%=i.at.toString().split(" ").slice(0,4).join(" ")%></p>
        <hr>
        
    <%}%>
    
    <form action="/chats/new" method="get" >
        <button type="submit">New chat</button>
    </form>
</body>
</html>

